[Unit]
Description=Task Manager stack (podman-compose)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=vprocopan
Group=vprocopan
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
WorkingDirectory=/home/vprocopan/Documents/task-manager
ExecStart=/usr/bin/podman-compose up -d --build
ExecStop=/usr/bin/podman-compose down

[Install]
WantedBy=multi-user.target